.wraper {
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.199);
}

.header {
  max-width: 1152px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
}

.heading {
  font-size: clamp(1rem, calc(0.5rem + 1.5vw), 2rem);
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: clamp(0.1rem, 1.2vw, 2rem);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    130deg,
    rgb(30, 191, 255) 30%,
    rgb(17, 99, 250) 100%
  );
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.sparcle-icon {
  color: white;
  width: 1rem;
}

.logout-btn {
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  border: solid rgba(0, 0, 0, 0.26) 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 425px) {
  .heading,
  .display-none-on-mobile,
  .sparcle-icon {
    display: none;
  }

  .menu-icon {
    display: block;
    color: white;
  }
}
