.wraper {
  max-width: 1152px;
  margin: 0 auto;
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: clamp(0.1rem, 1.2vw, 2rem);
}

.icon {
  background-color: rgb(48, 142, 250);
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
}

.logout-btn {
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  color: black;
  border: solid black 1px;
  cursor: pointer;
}
