.dashBoard-contaier {
  width: min(1152px, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  margin: 0 auto;
  gap: 2rem;
}

.cards-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.icon-body {
  width: 0.75rem;
  height: 0.75rem;
  color: oklch(72.3% 0.219 149.579);
  margin-right: 0.25rem;
}

.acitvity-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  background-color: white;
  height: 20.375rem;
  box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.137);
  padding: 1.5rem 1.5rem;
  border-radius: 0.75rem;
}

.acitvity-top {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.activity-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: oklch(65.104% 0.23086 354.374);
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.7rem;
}

.description {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.705);
  margin-bottom: auto;
}

.status-log {
  width: 100%;
  height: 2rem;
  background-color: blue;
}
